* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-image: url("resources/backgrounds/pexels-apasaric-2603464.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.blur {
    backdrop-filter: blur(2px);
}

.rounded {
    border-radius: 25px;
}

.top-navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header {
    background-color: rgba(31, 41, 55, 0.9);
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #ff7a7ab6;
    padding: 12px;
    color: white;
    font-size: 18px;
}

.header a {
    font-size: 18px;
}

.header a:hover {
    text-shadow: 0px 0px 2px white,
                1px 1px 2px white;
}

.header ul {
    display: flex;
    gap: 24px;
    align-items: center;
}

.iconText {
    text-shadow: 2px 2px 10px black,
                -1px -1px 4px black;
    color: white;
    font-size: 24px;
    font-weight: 700;
    gap: 16px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconLogo {
    width: 35px;
    height: 35px;
}

.top-section {
    display: flex;
    flex-direction: column;
    padding: 180px 0;
    align-items: center;
}

.top-section-left {
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    display: flex;
    align-items: center;
}

.top-section-left h2, .top-section-left p {
    max-width: 550px;
    text-align: center;
}

.top-section-left h2 {
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 10px black,
                -1px -1px 3px black;
    margin: 10px 0;
}

.top-section-left p:first-of-type {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 12px;
}

.top-section-left p {
    color: #E5E7EB;
    font-size: 22px;
    margin: 20px 0;
    text-shadow: 2px 2px 10px black,
                    -2px -2px 10px black,
                    -1px -1px 1px black,
                    1px 1px 1px black;
}

.top-section-left .btnA {
    margin: 30px 0;
    padding: 12px 24px;
    border-radius: 24px;
    background-color: #0e0e0e;
    border: 1px solid #ff7a7a;
    font-size: 18px;
    font-weight: bold;
    color: white;
    flex-shrink: 0;
    transition: all 0.2s ease;
}

.top-section-left .btnA:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    box-shadow: 0 0 6px #ff7a7acb;
    background-color: #ff7a7a;
}

.top-section-right {
    width: 250px;
    height: 250px;
    padding-top: 90px;
}

.middle-section {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
}

.middle-title {
    margin-top: 30px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.middle-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.lower-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("resources/backgrounds/pexels-aleksandar-pasaric-2341830.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0;
}

.lower-section-quote {
    padding: 130px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.quote, .quoteauthor {
    text-shadow: 2px 2px 5px black,
                    -2px -2px 6px black;
}

p.quote {
    color: #E5E7EB;
    font-size: 32px;
    font-style: italic;
    text-align: center;
    max-width: 500px;
}
.quoteauthor {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.newsletter {
    align-self: center;
    background-color: #ff7a7ab6;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    gap: 20px;
}

.newsletter-text h2 {
    color: white;
    text-shadow: 2px 2px 10px black;
}

.newsletter-text p {
    color: #E5E7EB;
    text-shadow: 2px 2px 8px black;
    font-size: 18px;
}

.newsletter button {
    padding: 12px 36px;
    border-radius: 8px;
    background: rgba(245, 71, 71, 0.2);
    border: 1px solid white;
    font-size: 18px;
    font-weight: bold;
    color: white;
    flex-shrink: 0;
}

.newsletter button:hover {
    background: white;
    color: #ff7a7a;
    border: 1px solid #ff7a7a;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 24px;
    color: white;
    font-size: 18px;
}

.project-card {
    width: 220px;
    min-height: 340px;
    background: #121212;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
}

.project-card:hover {
    transform: translateY(-16px);
    box-shadow: 0 0 6px #ffffff8e;
}

.project-thumbnail {
    width: 90%;
    height: 150px;
    object-fit: contain;
    
}

.thumbnail-wrapper {
    padding: 30px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff0c;
}

.project-content {
    padding: 16px;
}

.project-title {
    font-size: 18px;
    color: white;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.project-description {
    font-size: 13px;
    color: #929292;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.project-tech {
    font-size: 12px;
    color: #b8b8d4;
    font-weight: 400;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 12px 0;
    flex-wrap: wrap;
}

.social-icon {
    height: 32px;
    width: auto;
    transition: all 0.2s ease;
    margin-right: 20px;
    margin-left: 5px;
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.6);
}

@media(min-width: 1150px) {
    body {
        background-position-y: -900px;
    }
    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 180px 90px;
        gap: 90px;
    }
    .lower-section, .lower-section-quote {
        align-items: flex-end;
    }

    .top-section-left {
        align-items: flex-start;
    }

    .top-section-right {
        padding-top: 0;
    }
    .top-section-left h2, .top-section-left p, p.quote {
        text-align: left;
    }
    .top-section-left button {
        align-self: flex-start;
    }
    .newsletter {
        flex-direction: row;
        gap: 120px;
        padding: 30px 90px;
    }
}